@import "variables";

.roomList {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.roomBase {
  border: 1px solid $primary-color;
  padding: 10px 20px 10px 20px;
  border-radius: 0.5rem;
  min-height: 200px;
}

.createNewRoomForm {
  @extend .roomBase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.createNewRoomWrapper {
  margin-bottom: 30px;
  width: 400px;
}

.roomWrapper {
  @extend .createNewRoomForm;

  margin-right: 50px;
  margin-top: 20px;
}

.canvasWrapper {
  width: 80%;
  border: 1px solid $primary-color;
  height: 80vh;
}

.roomInfoWrapper {
  width: 20%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 80vh;
}

.roomInfoDetailsWrapper {
  height: 15vh;
  overflow-y: auto;

  p {
    margin-bottom: 1px;
  }
}

.singeRoomWrapper {
  display: flex;
}

.canvasInnerWrapper {
  width: 100%;
  height: 100%;
}

.canvas {
  width: 100%;
  height: 100%;
}

.controlPanelWrapper {
  margin-bottom: 10px;
}

.drawingDashboardWrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.drawingDashboardWord {
  margin: unset;
}

.canvasClearButton {
  width: 200px;
  position: relative;
  top: -55px;
  left: 10px;
}

.roomMemberListWrapper {
  p {
    margin: unset;
    margin-bottom: 5px;
  }

  p:last-child {
    margin-bottom: 10px;
  }
}

.roomHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.roomTitle {
  margin-right: 5px;
}

.removeRoomButton {
  cursor: pointer;
}
